<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.cpigeon.cpigeonhelper">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.CHANGE_CONFIGURATION" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.CAMERA"/>


    <application
        android:name=".base.MyApp"
        tools:replace="android:icon"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="986f6c2abed5bfb255d43c1ec8e70837"/>
        <activity android:name=".modular.welcome.activity.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:windowSoftInputMode="stateHidden"
            android:name=".modular.usercenter.activity.LoginActivity"/>
        <activity
            android:windowSoftInputMode="stateHidden"
            android:name=".MainActivity"/>
        <activity
            android:windowSoftInputMode="stateHidden"
            android:name=".modular.usercenter.activity.ForgetPwdActivity"/>
        <activity
            android:windowSoftInputMode="stateHidden"
            android:name=".modular.order.activity.OpeningGeyuntongActivity"/>
        <activity
            android:windowSoftInputMode="stateHidden"
            android:name=".modular.root.activity.RootListActivity"/>
        <activity
            android:windowSoftInputMode="stateHidden"
            android:name=".modular.root.activity.RootManagerActivity"/>
        <activity
            android:windowSoftInputMode="stateHidden"
            android:name=".modular.root.activity.SearchUserActivity"/>
        <activity
            android:windowSoftInputMode="stateHidden"
            android:name=".modular.xiehui.activity.XieHuiInfoActivity"/>
        <activity
            android:windowSoftInputMode="stateHidden"
            android:name=".modular.geyuntong.activity.ACarServiceActivity"/>
        <activity
            android:windowSoftInputMode="stateHidden"
            android:name=".modular.geyuntong.activity.AddGeyuntongActivity"/>
        <activity
            android:windowSoftInputMode="stateHidden"
            android:name=".modular.geyuntong.activity.GeYunTongListActivity"/>
        <activity
            android:windowSoftInputMode="stateHidden"
            android:name=".modular.flyarea.activity.FlyingAreaActivity"/>
        <activity
            android:windowSoftInputMode="stateHidden"
            android:name=".modular.flyarea.activity.AddFlyingAreaActivity"/>
        <activity
            android:windowSoftInputMode="stateHidden"
            android:name=".modular.flyarea.activity.FlyingAreaEditActivity"/>
        <activity
            android:windowSoftInputMode="stateHidden"
            android:name=".modular.geyuntong.activity.UploadImgActivity"/>
        <activity
            android:windowSoftInputMode="stateHidden"
            android:name=".modular.order.activity.PayGeyuntongActivity"/>
        <activity
            android:windowSoftInputMode="stateHidden"
            android:name=".modular.order.activity.OrderListActivity"/>
        <activity
            android:windowSoftInputMode="stateHidden"
            android:name=".modular.setting.activity.AboutActivity"/>
        <activity
            android:windowSoftInputMode="stateHidden"
            android:name=".modular.xiehui.activity.ChangeNameActivity"/>
        <activity
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="portrait"
            android:name=".modular.geyuntong.activity.UploadVideoActivity"/>
        <activity
            android:launchMode="singleTop"
            android:exported="true"
            android:name=".wxapi.WXPayEntryActivity"/>

        <activity
            android:windowSoftInputMode="stateHidden"
            android:name=".modular.order.activity.VipLevelUpActivity"/>

        <activity
            android:windowSoftInputMode="stateHidden"
            android:name=".modular.geyuntong.activity.MyGYTActivity"/>
        <activity
            android:windowSoftInputMode="stateHidden"
            android:name=".modular.setting.activity.SettingActivity"
            android:screenOrientation="portrait"/>
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>



        <service android:name="com.amap.api.location.APSService"/>
        <service android:name=".mina.CoreService"/>
        <activity android:name=".modular.order.activity.MyBalanceActivity"/>

        <meta-data android:name="design_width" android:value="768">
        </meta-data>
        <meta-data android:name="design_height" android:value="1280">
        </meta-data>
    </application>

</manifest>