<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.cpigeon.cpigeonhelper">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.CHANGE_CONFIGURATION" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.CAMERA"/>

    <application
        android:name=".base.MyApp"
        tools:replace="android:icon"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="986f6c2abed5bfb255d43c1ec8e70837"/>
        <activity android:name=".modular.welcome.activity.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".modular.usercenter.activity.LoginActivity"/>
        <activity android:name=".MainActivity"/>
        <activity android:name=".modular.usercenter.activity.ForgetPwdActivity"/>
        <activity android:name=".modular.geyuntong.activity.OpeningGeyuntongActivity"/>
        <activity android:name=".modular.root.activity.RootListActivity"/>
        <activity android:name=".modular.root.activity.RootManagerActivity"/>
        <activity android:name=".modular.root.activity.SearchUserActivity"/>
        <activity android:name=".modular.xiehui.activity.XieHuiInfoActivity"/>
        <activity android:name=".modular.geyuntong.activity.ACarServiceActivity"/>
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.cpigeon.cpigeonhelper.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
        <service android:name="com.amap.api.location.APSService"></service>
    </application>

</manifest>